* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.none {
  display: none;
}

.block {
  display: block;
}

body {
  position: relative;
}

.homepage {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  background: #ffffff;
}

.homepage .banner-area {
  background: url("../img/header_img.png");
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .banner-area .main-navbar {
  width: 100%;
  height: auto;
}

.homepage .banner-area .main-navbar .nav-center {
  width: 80%;
  height: 100%;
  margin: 0 auto 1rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .banner-area .main-navbar .nav-center .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .banner-area .main-navbar .nav-center .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .banner-area .main-navbar .nav-center .auth .button {
  background: #53bdb7;
  border: 1px solid #53bdb7;
  border-radius: 3px;
  margin: 0 10px;
  color: #ffffff;
  padding: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 500px) {
  .homepage .banner-area .main-navbar .nav-center .auth .button {
    font-size: 0.8rem;
    width: 70px;
  }
}

.homepage .banner-area .main-navbar hr {
  width: 90%;
  margin: auto;
  background: #c5c2c2;
  border: 0.1px solid #c5c2c2;
}

.homepage .banner-area .fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
}

.homepage .banner-area .fixed-nav #signup {
  display: block;
}

@media (max-width: 500px) {
  .homepage .banner-area .main-navbar {
    width: 100%;
  }
  .homepage .banner-area .main-navbar .nav-center {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0;
  }
  .homepage .banner-area .main-navbar hr {
    width: 100%;
  }
}

.homepage .banner-area .hero {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.homepage .banner-area .hero p {
  font-size: 2.5rem;
  text-align: center;
}

.homepage .banner-area .hero p .button {
  background: #53bdb7;
  border: 1px solid #53bdb7;
  border-radius: 3px;
  margin: 0;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 40px;
}

.homepage .banner-area .hero p .button a {
  color: #ffffff;
}

.homepage .banner-area .hero span {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media (max-width: 500px) {
  .homepage .banner-area .hero p {
    font-size: 1.8rem;
  }
}

.homepage .courses-area {
  width: 100%;
}

.homepage .courses-area .courses {
  width: 83%;
  margin: 4rem auto 0;
}

.homepage .courses-area .courses .heading h1 {
  font-size: 2rem;
}

.homepage .courses-area .courses .heading hr {
  margin-top: 0.7rem;
  background: #c5c2c2;
  border: 1px solid #c5c2c2;
}

.homepage .courses-area .courses .course-templates .course {
  margin-top: 2.5rem;
}

.homepage .courses-area .courses .course-templates .course .top {
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  background: #53bdb7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .courses-area .courses .course-templates .course .top .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.homepage .courses-area .courses .course-templates .course .top .title img {
  display: block;
  height: 25px;
  width: 25px;
}

.homepage .courses-area .courses .course-templates .course .top .title h2 {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 0.4rem;
}

.homepage .courses-area .courses .course-templates .course .top .stars img {
  height: 40px;
  width: 40px;
}

.homepage .courses-area .courses .course-templates .course .summary {
  width: 95%;
  height: 0;
  overflow: hidden;
  margin: auto;
  -webkit-transition: height 300ms;
  transition: height 300ms;
}

.homepage .courses-area .courses .course-templates .course .summary .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.homepage .courses-area .courses .course-templates .course .summary .info h2 {
  font-size: 1rem;
  min-width: 170px;
}

@media (max-width: 500px) {
  .homepage .courses-area .courses .course-templates .course .summary .info h2 {
    min-width: 120px;
  }
}

.homepage .courses-area .courses .course-templates .course .show-summary {
  height: 200px;
  -webkit-transition: height 300ms;
  transition: height 300ms;
}

@media (max-width: 500px) {
  .homepage .courses-area .courses .course-templates .course .show-summary {
    height: 330px;
    -webkit-transition: height 300ms;
    transition: height 300ms;
  }
}

.homepage .footer {
  min-height: 200px;
  margin-top: 3rem;
  padding: 1rem 0 0 2rem;
  background: black;
  color: #ffffff;
}

.homepage .footer p {
  position: relative;
  line-height: 3rem;
}

.homepage .footer p img {
  height: 60px;
  position: absolute;
  left: 100px;
}

.sign-in-page .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
  padding-top: 15px;
}

.sign-in-page .main-application {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: calc(100vh - 100px);
  padding-top: 0.2rem;
}

.sign-in-page .main-application h2 {
  text-align: center;
  font-weight: lighter;
}

.sign-in-page .main-application .form-body {
  width: 310px;
  margin: auto;
  padding-top: 3rem;
  border: 1px solid #eaecef;
  border-radius: 6px;
  background: #f6f8fa;
  font-size: 14px;
  margin-top: 25px !important;
  padding: 20px;
}

.sign-in-page .main-application .form-body form .form-fields {
  position: relative;
}

.sign-in-page .main-application .form-body form .form-fields .loader-body {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #53bdb841;
  border-radius: 6px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in-page .main-application .form-body form .form-fields .loader-body .loader {
  color: green;
  border: 1px solid #f3f3f3;
  /* Light grey */
  border-top: 1px solid #a2a6a8;
  /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 500ms linear infinite;
          animation: spin 500ms linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.sign-in-page .main-application .form-body form .form-fields .visible {
  visibility: visible;
}

.sign-in-page .main-application .form-body form .form-fields label {
  display: block;
  margin-bottom: 7px;
  font-weight: 400;
  text-align: left;
}

.sign-in-page .main-application .form-body form .form-fields a {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  color: #53bdb7;
}

.sign-in-page .main-application .form-body form .signUp label::after {
  content: "*";
  color: #cb2431;
  padding-left: 5px;
}

.sign-in-page .main-application .form-body form .signUp .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #888585;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: -1.5rem;
  right: 0;
}

.sign-in-page .main-application .form-body form .signUp .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 12px;
  margin-left: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #888585 transparent;
}

.sign-in-page .main-application .form-body form .signUp .visible {
  visibility: visible;
}

.sign-in-page .main-application .form-body form .form-control {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: #e1e4e8;
          box-shadow: #e1e4e8;
}

.sign-in-page .main-application .form-body form .submit {
  background: #53bdb7;
  color: #ffffff;
  margin-bottom: 0;
  letter-spacing: 4px;
  cursor: pointer;
}

.sign-in-page .main-application .flash-card {
  width: 310px;
  margin: 1rem auto 0;
  border: solid 1px #c5c2c2;
  text-align: center;
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 14px;
}

.sign-in-page .main-application .flash-card a {
  color: #0366d6;
  font-size: 13px;
}

.sign-in-page .main-application .flash-error {
  display: none;
  position: relative;
  color: #ff7b72;
  background-color: rgba(255, 0, 0, 0.068);
  font-size: 13px;
  border: solid 1px #ff7b7246;
}

.sign-in-page .main-application .flash-error .close {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  font-size: 15px;
  cursor: pointer;
}

.sign-in-page .main-application .none {
  display: none;
}

.sign-in-page .main-application .block {
  display: block;
}
/*# sourceMappingURL=style.css.map */